<ion-view title="Заказать" id="page3">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="page3-card21">
      <ion-item class="item-avatar" id="page3-list-item3">
        <h2>15</h2>
      </ion-item>
      <div class=" item item-image">
        <img src="img/CcVhVOsPSeGe9DOA3bfK_15.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="page3-list-item-container2">
        <div id="page3-markdown2">
          <p style="margin-top:0px;color:#000000;">Для тех, кто "Перекусить" или "чего бы пожевать". Или для тех, кто "а чо это за сервис такой?"</p>
        </div>
      </div>
      <button id="page3-button1" class="button button-positive  button-block">Да, заказать эту</button>
    </div>
    <div class="list card" id="page3-card22">
      <ion-item class="item-avatar" id="page3-list-item5">
        <h2>50</h2>
      </ion-item>
      <div class=" item item-image">
        <img src="img/EzgXvcDDQ4S5HOt1Q9uQ_50.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="page3-list-item-container3">
        <div id="page3-markdown3">
          <p style="margin-top:0px;color:#000000;">Для тех, кто "хочу хорошо пообедать" или "я после тренировки. Хочу наесться"</p>
        </div>
      </div>
      <button id="page3-button2" class="button button-positive  button-block">Да, заказать вот эту</button>
    </div>
    <div class="list card" id="page3-card23">
      <ion-item class="item-avatar" id="page3-list-item6">
        <h2>150</h2>
      </ion-item>
      <div class=" item item-image">
        <img src="img/aX8td2KKRuWe06OwMdXz_150.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="page3-list-item-container4">
        <div id="page3-markdown4">
          <p style="margin-top:0px;color:#000000;">Для тех, кто "на всех" или "поедим вечером и чтоб на утро осталось"</p>
        </div>
      </div>
      <button id="page3-button3" class="button button-positive  button-block">Да, вот эту. Хочу прям много</button>
    </div>
  </ion-content>
</ion-view>